/*h1 {
  color:red;
  background-color:yellow;
}
body{
  /*background-color:red;*/
  margin:0px;
}

div{
 width:100%;
  height:50%;
  border:5px solid brown;
} /*
h1{
  color:red;
}

h1 + h1 + h1{
  color:green;
}
 .firstDiv{
   display: flex;
  height:100%; 
 }

.childDiv{
  width:50%;
  height:50%;
  color:white;
  background-color:red;
  border:5px solid black;
}

.childDiv:nth-of-type(2){
  background-color:magenta !important;
}
